server:
  port: ${PORT:8081}   #now $ bcz we are creating more instances of this service means more ports

spring:
  application:
    name: payment-service   # registered name in Eureka

  datasource:
    url: jdbc:postgresql://localhost:5432/Care_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: payment-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka/   # connect to Eureka Server
#    register-with-eureka: true
#    fetch-registry: true
#  instance:
#    prefer-ip-address: true
